.sidenav {
    width: 250px;
    transition: width 0s;
    height: auto;
    background: #ffffff;
    margin-top: 0px;
    position: relative;
}


.navLink {
    /* Base styles for NavLink */
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.navLink:hover {
    background-color: #f1f1f1;
  }

  .icon {
    font-size: 24px;
  }
  
  .activeIcon {
    background-color: #64c466;
  }
  .linkText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #333;
  }  
  
  .dropdownContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .dropdownOpen {
    max-height: 300px; 
  }
  